# Dependencies
node_modules/
jspm_packages/
web_modules/

# Build and Output
dist/
dist-ssr/
build/
out/

# Python Virtual Environments
*env/
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Model Weights and Large ML Checkpoints
**/weights/
**/checkpoints/
**/checkpoints_ssim/
**/models/
*.pth
*.onnx
*.pkl
*.pb
*.h5

# Local Uploads/Temp Files
**/backend/uploads/*
!**/backend/uploads/.gitkeep

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# IDEs and Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
